body{
    background-color: #f0f0f0;
}
.main-section{
    padding-top: 8rem;
}
.main-section , .subscriber-section{
    color: var(--black);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.main-section .user , .subscriber-section .subscriber{
    width: 30%;
    background-color: #fff;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.main-section .user .user-info{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.main-section .user .user-info img{
    width: 85px;
    height: 85px;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 50%;
 }
 .main-section .user .user-info .name{
     font-family: 'poppins';
     font-size: 1.8rem;
 }
 .main-section .user .edit-profile ,.subscriber-section .subscriber .add-subscriber{
     width: 100%;
     padding: 20px 0;
     text-align: center;
     border-top: 1px solid #ddd;
 }
 .main-section .user .edit-profile a ,.subscriber-section .subscriber .add-subscriber a{
    color: var(--black);
     font-size: 1.5rem;
 }
 .main-section .user .edit-profile i , .subscriber .add-subscriber i {
     margin-left: 5px;
 }
 .main-section .money-info{
     background-color: #fff;
     width: 68%;
     padding: 40px 0;
     border-radius: var(--border-radius);
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: row;
 }
 .main-section .money-info i{
    font-size: 3rem;
 }
 .money-info .total-money , .money-info .work-hours , .subscriber-section .subscriber .total-subscriber {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .money-info .total-money h4, .money-info .work-hours h4 ,.subscriber-section .subscriber .total-subscriber h4 {
     text-align: center;
     font-size: 2rem;
 }
 .money-info .total-money span, .money-info .work-hours span {
     font-size: 2.5rem;
 }
 .money-info .total-money span{
     color: var(--green);
 }

.subscriber-section{
    padding-top: 0;
}
.subscriber-section .subscriber .total-subscriber {
    padding: 10px 0;
}
.subscriber-section .subscriber .total-subscriber i{
    font-size: 3.5rem;
}
.subscriber-section .subscriber .total-subscriber span{
    font-size: 2rem;
}
.subscriber-section .subscribers-info{
background-color: #fff;
width: 68%;
padding: 40px 0;
border-radius: var(--border-radius);
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
}
.subscriber-section .subscribers-info .sub-info{
    width: 40%;
}
.subscriber-section .subscribers-info .sub-info .text{
    display: flex;
    justify-content: space-between;
}
.subscriber-section .subscribers-info .sub-info .progress-bar{
    width: 100%;
    background-color: #ddd;
    height: 10px;
    border-radius: 25px;
    overflow: hidden;
}
.subscriber-section .subscribers-info .sub-info .progress-bar span{
    display: block;
    width: 15%;
    background-color: var(--green);
    height: 10px;
}
@media (max-width:991px) {
    .main-section ,.subscriber-section{
        flex-direction: column;
    }
    .main-section .user,.main-section .money-info,.subscriber-section .subscriber ,.subscriber-section .subscribers-info{
        width: 100%;
        margin: 10px 0;
        flex-direction: column;
    }
    .subscriber-section .subscribers-info .sub-info{
        width: 90%;
        margin: 10px 0;
    }
}
/*table*/
.haveto-renew{
    padding-top: 0;
}
.haveto-renew .client-table{
    background-color: #fff;
    padding: 20px 0;
    border-radius: var(--border-radius);
}
.haveto-renew .client-table h2{
    font-size: 2rem;
    text-align: center;
    margin: 0 0 10px 0;
}
table {
    margin: 50px 0;
    width: 100%;
    border-spacing: 0;
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  thead {
   visibility: hidden;
   position: absolute;
   width: 0;
   height: 0;
  }

  th {
    background: var(--main-color);
    color: #fff;
  }

  td:nth-child(1) {
    background: var(--main-color);
    color: #fff;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  th, td {
    padding: 1em;
  }

  tr, td {
    display: block;
  }

  td {
    position: relative;
    text-align: left;
    font-size: 1.5rem;
  }

  .client-status a i{
    cursor: pointer;
    font-size: 2rem;
  }
  .client-status .renew{
      color: var(--green);
  }
  .client-status .renew:hover{
      transform: rotate(180deg);
  }
  .client-status .delete{
      margin-right: 4px;
      color: red;
  }
  .client-status .delete:hover{
      transform: scale(1.2);
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    right: 6px;
    padding-left: 1em;
    font-weight: 600;
    font-size: 1.4rem;
    font-family: 'DroidArabicKufiRegular';
    text-transform: uppercase;
  }

  tr {
    margin-bottom: 1.5em;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    text-align: right;
  }

  tr:last-of-type {
    margin-bottom: 0;
  }

  td:nth-child(n+2):nth-child(odd) {
    background-color: #ddd;
  }


  @media only screen and (min-width: 768px) {

    table {
      max-width: 1200px;
      margin: 0 auto 30px auto;
      border: 1px solid #ddd;
    }

    thead {
      visibility: visible;
      position: relative;
    }

    th {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    tr {
      display: table-row;
      border: none;
      border-radius: 0;
      text-align: center;
    }

    tr:nth-child(even) {
    background-color: #ddd;
  }

    td {
      text-align: center;
      font-size: 1.4rem;
      font-weight: 600;
      display: table-cell;
    }
    .client-status{
        display: flex;
        justify-content: space-evenly;
        font-size: 2.2rem;
        padding: 6px 0;
    }
    td::before {
      content: none;
    }

    td:nth-child(1) {
      background: transparent;
      color: #444;
      border-radius: 0;
    }

    td:nth-child(n+2):nth-child(odd) {
      background-color: transparent;
    }
  }
